/**
 * @author Dom Derrien
 */
.ase_floatingTab {
    position: fixed;
    top: 400px;
    left: -5px;
    -webkit-transform-origin: top left;
    -webkit-transform: rotate(-90deg);
    -moz-transform-origin: top left;
    -moz-transform: rotate(-90deg);
    -o-transform-origin: top left;
    -o-transform: rotate(-90deg);
    transform-origin: top left;
    transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
    padding: 5px;
    z-index: 999;
}
.ase_floatingTab:hover {
    left: 0px;
}
.ase_floatingTab a, .ase_floatingTab a:hover, .ase_floatingTab a:visited {
    text-decoration: none !important;
    font-family: arial,helvetica,sans-serif;
    font-size: 22px;
    font-weight: bold;
    padding: 5px 15px;
    color: #222;
    border: 2px solid #ddd000;
    background-color: #fff800;
    -webkit-box-shadow: -3px 3px 10px #aaa;
    -moz-box-shadow: -3px 3px 10px #aaa;
    box-shadow: -3px 3px 10px #aaa;
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=135, Color='#a0a0a0');
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=135, Color='#a0a0a0')";
}
.ase_widget {
    position: fixed;
    right: 30px;
    top: 30px;
    bottom: 30px;
    width: 250px;
    border: 0 none;
    text-align: left;
    background-color: transparent;
    z-index: 999;
}
.ase_widget>span {
    background-color: #808080;
    padding: 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
}
.ase_widget>span>a {
    font-family: arial, helvetica, sans-serif;
    color: white !important;
    font-weight: bold !important;
}
.ase_widget>iframe {
    width: 100%;
    height: 100%;
    border: 0 none;
}
.ase_floatingWarning {
    z-index: 999;
    position: absolute;
    top: 3px;
    right: 3px;
    padding: 10px;
    color: orange;
    font-size: 18px;
    font-weight: bold;
    background-color: white;
    border: 2px solid black;
    -webkit-box-shadow: -3px 3px 10px white;
    -moz-box-shadow: -3px 3px 10px white;
    box-shadow: -3px 3px 10px white;
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=135, Color='#ffffff');
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=135, Color='#ffffff')";
}
