<?xml version="1.0" encoding="utf-8"?>
<appengine-web-app xmlns="http://appengine.google.com/ns/1.0">
    <application>@app.appEngineId@</application>
    <version>maelzel-@app.version@</version>

    <!-- Configure java.util.logging -->
    <system-properties>
        <property name="java.util.logging.config.file" value="WEB-INF/logging.properties"/>
        <property name="twetailer-variable" value="1000" />
    </system-properties>

    <static-files>
        <include path="/**.ico" expiration="30d" />
        <include path="/**.png" expiration="30d" />
        <include path="/**.gif" expiration="30d" />
        <include path="/**.jpg" expiration="30d" />
        <include path="/**.js" expiration="30m" />
        <include path="/**.css" expiration="30d" />
        <include path="/**.html" expiration="30d" />
        <include path="/**.txt" expiration="30d" />
        <include path="/**.xml" expiration="30d" />
    </static-files>

    <env-variables>
    </env-variables>

    <sessions-enabled>true</sessions-enabled>

    <precompilation-enabled>false</precompilation-enabled>

    <ssl-enabled>true</ssl-enabled>

    <threadsafe>true</threadsafe>

    <inbound-services>
        <service>mail</service>
        <service>xmpp_message</service>
    </inbound-services>

    <admin-console>
        <page name="App Statistics" url="/_admin/stats/stats" />
        <page name="Db Monitoring" url="/_admin/monitoring.jsp" />
        <page name="Store Registration" url="/_admin/registration.jsp" />
    </admin-console>
</appengine-web-app>
