# Application global settings
#
# Information loaded automatically by the singleton:
#     twetailer.validator.ApplicationSettings
#

# Boolean used in the JSP file to decide if the Dojo library
# (JavaScript, CSS, images) should be used from a distributed Content
# Delivery Network -- Enabling value: true -- Default: false
useCDN = @app.useCDN@

# URL for the Dojo library hosted on a public Content Delivery Network
# Example: http://ajax.googleapis.com/ajax/libs/dojo/1.3
cdnBaseURL = https://ajax.googleapis.com/ajax/libs/dojo/1.5

# Optional relative path from the application context root to the
# login page -- Default: /_includes/login.jsp
# loginPageURL =

# Optional relative path from the application context root to the
# main page -- Default: /console/
# mainPageURL =

# Product email domain
# Default: anothersocialeconomy.appspotmail.com
productEmailDomain = @app.appEngineId@.appspotmail.com

# Product name
productName = @app.productName@

# Product version
productVersion = @app.version@

# Product website
# Default: http://anotherosocialeconomy.com/
productWebsite = http://@app.appEngineId@.com/

# Application website
# Default: http://anotherosocialeconomy.appspot.com/
applicationWebsite = https://@app.appEngineId@.appspot.com/

# Optional URL of the product logo
# Default: /images/logo/logo-48x48.png
logoURL = https://@app.appEngineId@.appspot.com/images/logo/logo-48x48.png
