# Application global settings
#
# Information loaded automatically by the singleton:
#     twetailer.validator.ApplicationSettings
#

# Boolean used in the JSP file to decide if the Dojo library
# (JavaScript, CSS, images) should be used from a distributed Content
# Delivery Network -- Enabling value: true -- Default: false
useCDN = true

# URL for the Dojo library hosted on a public Content Delivery Network
# Example: http://ajax.googleapis.com/ajax/libs/dojo/1.3
cdnBaseURL = http://ajax.googleapis.com/ajax/libs/dojo/1.5

# Optional relative path from the application context root to the
# login page -- Default: /_includes/login.jsp
# loginPageURL =

# Optional relative path from the application context root to the
# main page -- Default: /console/
# mainPageURL =

# Product email address
# Default: assistant@twetailer.appspotmail.com
productEmail = @app.productEmail@

# Product name
productName = @app.productName@

# Product website
# Default: http://www.twetailer.com/
productWebsite = @app.productWebsite@

# Optional URL of the product logo
# Default: /images/logo/logo-48x48.png
# logoURL =

# Relative path of the servlet handling API calls
# Maintained in sync with the information located in the web.xml file by the build process
servletApiPath = @app.servletApiPath@
