<?xml version="1.0" encoding="UTF-8"?>
<w:robot xmlns:w="http://wave.google.com/extensions/robots/1.0">
    <w:profile
        name="@app.productName@"
        imageurl="http://anothersocialeconomy.appspot.com/images/logo/logo-48x48.png"
        profileurl="http://anothersocialeconomy.com/"
    />
    <w:capabilities>
        <w:capability name="WAVELET_SELF_ADDED" content="true" />
        <w:capability name="BLIP_SUBMITTED" content="true" />
    </w:capabilities>
    <w:version>1</w:version>
</w:robot>
