<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app
   xmlns="http://java.sun.com/xml/ns/javaee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
   version="2.5" metadata-complete="true">

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <filter>
        <filter-name>appstats</filter-name>
        <filter-class>com.google.appengine.tools.appstats.AppstatsFilter</filter-class>
        <init-param>
            <param-name>logMessage</param-name>
            <param-value>Appstats available: https://anothersocialeconomy.appspot.com/_admin/stats/details?time={ID}</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>appstats</filter-name>
        <url-pattern>/API/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>appstats</filter-name>
        <url-pattern>/console/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>appstats</filter-name>
        <url-pattern>/3rdParty/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>appstats</filter-name>
        <url-pattern>/console/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>appstats</filter-name>
        <url-pattern>/widget/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>authverifierfilter</filter-name>
        <filter-class>twetailer.j2ee.AuthVerifierFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>authverifierfilter</filter-name>
        <url-pattern>/console/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>authverifierfilter</filter-name>
        <url-pattern>/API/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>openidfilter</filter-name>
        <filter-class>com.dyuproject.openid.OpenIdServletFilter</filter-class>
        <!--filter-class>twetailer.j2ee.openid.OpenIdServletFilter</filter-class-->
        <load-on-startup>1</load-on-startup>
        <init-param>
            <param-name>forwardUri</param-name>
            <param-value>/_includes/login.jsp</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>openidfilter</filter-name>
        <url-pattern>/console/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>login</servlet-name>
        <servlet-class>twetailer.j2ee.LoginServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>twetailer.j2ee.LogoutServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>maelzel</servlet-name>
        <servlet-class>twetailer.j2ee.MaelzelServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>maelzel</servlet-name>
        <url-pattern>/_admin/maelzel/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>3rdParty</servlet-name>
        <servlet-class>twetailer.j2ee.ThirdPartyEntryPointServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>3rdParty</servlet-name>
        <url-pattern>/3rdParty/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>shortcut</servlet-name>
        <servlet-class>twetailer.j2ee.ShortcutServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>shortcut</servlet-name>
        <url-pattern>/shortcut/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>consumer</servlet-name>
        <servlet-class>twetailer.j2ee.restlet.ConsumerRestlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>consumer</servlet-name>
        <url-pattern>/API/Consumer/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>demand</servlet-name>
        <servlet-class>twetailer.j2ee.restlet.DemandRestlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>demand</servlet-name>
        <url-pattern>/API/Demand/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>location</servlet-name>
        <servlet-class>twetailer.j2ee.restlet.LocationRestlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>location</servlet-name>
        <url-pattern>/API/Location/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>payment</servlet-name>
        <servlet-class>twetailer.j2ee.restlet.PaymentRestlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>payment</servlet-name>
        <url-pattern>/API/Payment/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>proposal</servlet-name>
        <servlet-class>twetailer.j2ee.restlet.ProposalRestlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>proposal</servlet-name>
        <url-pattern>/API/Proposal/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>saleassociate</servlet-name>
        <servlet-class>twetailer.j2ee.restlet.SaleAssociateRestlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>saleassociate</servlet-name>
        <url-pattern>/API/SaleAssociate/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>store</servlet-name>
        <servlet-class>twetailer.j2ee.restlet.StoreRestlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>store</servlet-name>
        <url-pattern>/API/Store/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>jabberresponder</servlet-name>
        <servlet-class>twetailer.j2ee.JabberResponderServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>jabberresponder</servlet-name>
        <url-pattern>/_ah/xmpp/message/chat/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>catchallhandler</servlet-name>
        <servlet-class>twetailer.j2ee.CatchAllMailHandlerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>catchallhandler</servlet-name>
        <url-pattern>/_ah/mail/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>appstats</servlet-name>
        <servlet-class>com.google.appengine.tools.appstats.AppstatsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>appstats</servlet-name>
        <url-pattern>/_admin/stats/*</url-pattern>
    </servlet-mapping>

    <error-page>
        <error-code>403</error-code>
        <location>/404.html</location>
    </error-page>

    <error-page>
        <error-code>404</error-code>
        <location>/404.html</location>
    </error-page>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Consoles</web-resource-name>
            <url-pattern>/console/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Widgets</web-resource-name>
            <url-pattern>/widget/facebook/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Widgets</web-resource-name>
            <url-pattern>/API/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Administrative tools</web-resource-name>
            <url-pattern>/_admin/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
        <!--user-data-constraint> // Commented out because of the Maelzel tasks
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint-->
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Administrative tools</web-resource-name>
            <url-pattern>/_ah/xmpp/message/chat/</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Administrative tools</web-resource-name>
            <url-pattern>/_ah/mail/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
</web-app>
