/**
 * Shared settings
 */
html, body {
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin: 0;
	border: 0 none;
	padding: 0;
}

body, th, td {
    font-family: Tahoma, Segoe UI, Arial, Bitstream Vera Sans, Verdana, Helvetica, sans-serif;
}

body {
	background-color: #eee;
	border-top: 4px solid black;
}

#introFlash {
	width: 100%;
	height: 100%;
	margin: 0;
	border: 0 none;
	padding: 0;
	background: #fff url('../images/loading.gif') no-repeat center center;
	position: absolute;
	z-index: 999;
}

#introFlash>div {
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
}

#introFlash>div>span {
    background-color: #F9F9F9;
   	border: 1px solid #BFBFBF;
   	padding: 4px;
   	line-height: 30px;
}

#topContainer {
	margin: 0 10px;
	background-color: white;
}

#headerZone {
	background-color: #aaa;
	margin: 0 10px;
}

#brand {
}

#brand>h1 {
    margin: 0;
    padding: 0.7em 1em;
    font-size: 3em;
}

#brand>h1 .bang {
    font-family: "Arial Rounded MT Bold", arial, sans-serif;
    color: #9966cc; /* PurpleChalk (aka Magenta 4)*/
}
#brand>h1 .tw {
    font-family: "Arial Rounded MT", arial, sans-serif;
    color: #696969; /* DimGray */
    letter-spacing: -.1em;
}
#brand>h1 .etailer {
    font-family: "Arial Rounded MT Bold", arial, sans-serif;
    color: #696969; /* DimGray */
}

#brand>h1>a {
	text-decoration: none;
	color: black;
}

#mantra {
	float: left;
	margin-top:-25px;
	padding-left: 70px;
	font-size: 1.2em !important;
}

#logo {
	float: right;
}

#navigation {
	background-color: black;
	padding: 2px 0
}

#navigation>ul, #navigation>ul>li {
	display: inline;
	margin: 0;
	padding: 0;
}

#navigation>ul>li {
	margin-left: 3em;
}

#navigation>ul>li.subItem {
	float: right;
	margin-left: 0;
	margin-right: 3em;
}

#navigation>ul>li>a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

#navigation>ul>li>a:hover {
    color: yellow;
}

#navigation>ul>li>a.active {
    color: lightgreen;
}

#navigation>ul>li>table.dijitSelect, #widget_languageSelector {
	margin-top: -1px;
}

#footerZone {
	background-color: #666;
	margin: 0 10px 10px 10px;
	padding: 10px 30px;
	color: #ccc;
}

#footerZone>a {
	text-decoration: none;
	color: white;
}

#centerZone {
	background-color: white;
	margin: 0 10px;
}

.silkIcon {
    background-repeat:no-repeat;
    text-align:center;
    height:18px;
    width:18px;
}

.silkIconCancel {
    background-image:url(../images/cancel.png);
}

.silkIconDemand {
    background-image:url(../images/page_white_go.png);
}

.silkIconDemandList {
    background-image:url(../images/page_white_go_list.png);
}

.silkIconHelp {
    background-image:url(../images/help.png);
}

.silkIconProposal {
    background-image:url(../images/page_white_come.png);
}

.silkIconProposalList {
    background-image:url(../images/page_white_come_list.png);
}

.silkIconUpdate {
    background-image:url(../images/page_white_edit.png);
}

.silkIconProfile {
    background-image:url(../images/user.png);
}

.silkIconVerify {
    background-image:url(../images/tick.png);
}

/**
 * Login page settings
 */
#signInForm {
	background-color: #ccc;
	border: 1px solid black;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
	padding: 10px;
}

#openid_identifier {
	background-image: url(/images/icons/openid.gif) !important;
	background-position: 3px 2px;
	background-repeat: no-repeat;
	padding: 0.2em 0.2em 0.2em 20px;
}

.openidSignInButton {
    background-image:url(/images/icons/openid.gif);
    background-repeat:no-repeat;
    text-align:center;
    height:18px;
    width:18px;
}

#openIdProviderList {
	margin: 0;
	padding: 0;
    text-align: center;
}

#openIdProviderList>li {
    display: inline;
}

#openIdProviderList>li>a>div {
    height: 50px;
    background-color: white;
    border:1px black solid;
    vertical-align: middle;
    display: inline;
    position: relative;
}

/**
 * Consumer Information Pane
 */
.consumerInformation {
    border: 1px solid lightgrey;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin: 10px 0;
    padding: 10px;
}

.consumerInformation legend {
	font-weight: bold;
	color: green;
}

.consumerInformation>div {
    margin: 3px 0;
}

.consumerInformation>div>span.hint, .demandForm>tbody>tr>td>span.hint {
    font-size: smaller;
    color: grey;
}
