/**
 * Shared settings
 */
html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    border: 0 none;
    padding: 0;
}

body, th, td {
    font-family: Tahoma, Segoe UI, Arial, Bitstream Vera Sans, Verdana, Helvetica, sans-serif;
}

body {
    background-color: #eee;
}

#topBar {
    z-index:20;
    position:absolute;
    left:0;
    top:0;
    right:0;
    height:4px;
    background-color:black;
}

#introFlash {
    position: absolute;
    top: 109px;
    bottom: 44px;
    left:20px;
    right:20px;
    margin: 0;
    border: 0 none;
    padding: 0;
    background: white url('/images/loading.gif') no-repeat center center;
    z-index: 999;
}

#introFlashWait {
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
}

#introFlashWait>span {
    background-color: #F9F9F9;
    border: 1px solid #BFBFBF;
    padding: 4px;
    line-height: 30px;
}

#topContainer {
    margin: 0 10px;
    background-color: white;
}

#headerZone {
    background-color: #aaa;
    margin: 0 10px;
}

#brand {
}

#brand>h1 {
    margin: 0;
    padding: 0.7em 1em;
    font-size: 3em;
    font-family: "Arial Rounded MT Bold", arial, sans-serif;
    color: #696969; /* DimGray */
    text-shadow: 0 0 0.2em #fff, 0 0 0.2em #fff;
}

#brand>h1>a {
    text-decoration: none;
    color: black;
}

#mantra {
    float: left;
    margin-top:-25px;
    padding-left: 70px;
    font-size: 1.2em !important;
    text-shadow: 1px 1px 0.2em #fff;
}

#logo {
    float: right;
}

#navigation {
    background-color: black;
    padding: 2px 0
}

#navigation>ul, #navigation>ul>li {
    display: inline;
    margin: 0;
    padding: 0;
}

#navigation>ul>li {
    margin-left: 3em;
}

#navigation>ul>li.subItem {
    float: right;
    margin-left: 0;
    margin-right: 3em;
}

#navigation>ul>li>a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

#navigation>ul>li>a:hover {
    color: yellow;
}

#navigation>ul>li>span.active {
    color: lightgreen;
}

#navigation>ul>li>table.dijitSelect, #widget_languageSelector {
    margin-top: -1px;
}

#footerZone {
    position: absolute;
    bottom: 0;
    left: 10px;
    right: 10px;
    background-color: #666;
    margin: 0 10px 10px 10px;
    padding: 10px 30px;
    color: #ccc;
}

#footerZone>a {
    text-decoration: none;
    color: white;
}

#centerZone {
    background-color: white;
    margin: 0 10px;
}

.silkIcon {
    background-repeat:no-repeat;
    text-align:center;
    height:18px;
    width:18px;
}

.silkIconView {
    background-image:url(/images/page_white.png);
}

.silkIconDemandView {
    background-image:url(/images/page_white_go.png);
}

.silkIconProposalView {
    background-image:url(/images/page_white_come.png);
}

.silkIconAccept {
    background-image:url(/images/accept.png);
}

.silkIconDemandAccept {
    background-image:url(/images/page_white_go_accept.png);
}

.silkIconProposalAccept {
    background-image:url(/images/page_white_come_accept.png);
}

.silkIconAdd {
    background-image:url(/images/add.png);
}

.silkIconDemandAdd {
    background-image:url(/images/page_white_go_add.png);
}

.silkIconProposalAdd {
    background-image:url(/images/page_white_come_add.png);
}

.silkIconCancel {
    background-image:url(/images/cancel.png);
}

.silkIconDemandCancel {
    background-image:url(/images/page_white_go_cancel.png);
}

.silkIconProposalCancel {
    background-image:url(/images/page_white_come_cancel.png);
}

.silkIconDelete {
    background-image:url(/images/delete.png);
}

.silkIconUpdate {
    background-image:url(/images/page_white_edit.png);
}

.silkIconDemandUpdate {
    background-image:url(/images/page_white_go_edit.png);
}

.silkIconProposalUpdate {
    background-image:url(/images/page_white_come_edit.png);
}

.silkIconDemandList {
    background-image:url(/images/page_white_go_list.png);
}

.silkIconProposalList {
    background-image:url(/images/page_white_come_list.png);
}

.silkIconDemandConfirmed {
    background-image:url(/images/page_white_go_gold.png);
}

.silkIconProposalConfirmed {
    background-image:url(/images/page_white_come_gold.png);
}

.silkIconHelp {
    background-image:url(/images/help.png);
}

.silkIconProfile {
    background-image:url(/images/user.png);
}

.silkIconVerify {
    background-image:url(/images/tick.png);
}

.silkIconClose {
    background-image:url(/images/asterisk_orange.png);
}

.silkIconRefresh {
    background-image:url(/images/arrow_refresh.png);
}

.silkIconGPS {
    background-image:url(/images/gps.png);
}

.silkIconGMaps {
    background-image:url(/images/icons/GMaps.png);
}

.silkIconLinkOpen {
    background-image:url(/images/layout_link.png);
}

/**
 * Login page settings
 */
#centerZone.loginBG {
    background: top left url('/images/loginBackground-1024.png') no-repeat;
    background-size: cover;
    -moz-background-size: cover;
}

#signInForm {
    background-color: #ccc;
    border: 1px solid black;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 10px;
}

#openid_identifier {
    background-image: url(/images/icons/openid.gif) !important;
    background-position: 3px 2px;
    background-repeat: no-repeat;
    padding: 0.2em 0.2em 0.2em 20px;
}

.openidSignInButton {
    background-image:url(/images/icons/openid.gif);
    background-repeat:no-repeat;
    text-align:center;
    height:18px;
    width:18px;
}

.openIdProviderList {
    margin: 0;
    padding: 0;
    text-align: center;
}

/**
 * Main console
 */
#centerZone.console {
}

/**
 * Information Pane
 */
.entityInformation {
    border: 1px solid lightgrey;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin: 0 0  10px 0;
    padding: 0 10px 5px 10px;
}

.entityInformation legend {
    font-weight: bold;
    color: green;
}

.entityInformation>div {
    margin: 3px 0;
}

.entityInformation>div>span.hint, .demandForm>tbody>tr>td>span.hint {
    font-size: smaller;
    color: grey;
}

.entityInformation td {
    height: 24px;
    vertical-align: middle;
}

.entityInformation .dijitSelect td {
    height: auto;
}

.invalidData {
    color: red;
    border-bottom: 2px dotted red;
    text-shadow: #bbb 2px 2px 2px;
}

.dijitTextBox .rightAlign {
    text-align: right;
}

/**
 * Entity Pane
 */
.demandForm>tbody>tr>td {
    vertical-align: top;
}
