/**
 * Override settings for the Golf widget
 */
body, th, td, textarea {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

a, a:hover, a:visited, a:link, a:active {
    color: #005e9d;
}

#introFlash {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    border: 0 none;
    padding: 0;
    background: #fff000 url('/images/loading.gif') no-repeat center center;
    z-index: 999;
}

#introFlash>div {
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
}

#introFlash>div>span {
    background-color: #F9F9F9;
    border: 1px solid #BFBFBF;
    padding: 4px;
    line-height: 30px;
}

.dataZone {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    background-color: #fff000;
    border-radius: 10px;
    -moz-border-radius: 10px;
}

.dataZone>div {
    padding: 5px;
    background-color: #fff000;
    border-radius: 10px;
    -moz-border-radius: 10px;
    min-height: 300px;
}

.silkIcon {
    background-repeat:no-repeat;
    text-align:center;
    height:18px;
    width:18px;
}

.silkIconAccept {
    background-image:url(/images/accept.png);
}

.silkIconAdd {
    background-image:url(/images/add.png);
}

.silkIconDelete {
    background-image:url(/images/delete.png);
}

.silkIconGPS {
    background-image:url(/images/gps.png);
}

.silkIconGMaps {
    background-image:url(/images/icons/GMaps.png);
}

.silkIconHelp {
    background-image:url(/images/help.png);
}

.dataZone {
    color: #222;
}

.content>table {
    width: 100%;
}

.brand, label, .title {
    font-weight: bold;
}

.brand {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #252525;
    text-align: center;
    padding-top: 10px;
}

.title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #252525;
    padding: 10px 0 10px 0;
}

.form input, .form .dijitSelect, .form .dijitButtonText, .form .dijitTextBox, .comment input {
    color: black;
}

.form>tbody>tr:nth-child(2n+1) {
    background-color: #7f8082;
}

.form>tbody>tr:nth-child(2n+1) label {
    color: white;
}

.form>tbody>tr:nth-child(2n) td {
}

.form>tbody>tr>td {
    border-top: 1px solid black;
    padding: 3px 0 3px 3px;
    vertical-align: middle;
}

.form>tbody>tr>td:first-child {
    border-left: 1px solid black;
}

.form>tbody>tr>td:last-child {
    border-right: 1px solid black;
    padding-right: 10px;
}

.form>tbody>tr:last-child td {
    border-bottom: 1px solid black;
}

.comment {
    padding: 5px 0;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.progressBar {
}

.progressBar .step {
    font-weight: normal;
    text-align: center;
    width: 25%;
    float: left;
}

.progressBar .inactive {
}

.progressBar .active {
    font-weight: bold;
}

.progressBar .inactive.goal {
}

.progressBar .active.goal {
}

.poweredBy {
    margin-top: 20px;
    font-size: smaller;
    text-align: center;
}

.poweredBy a, .poweredBy a:hover, .poweredBy a:visited {
    color: darkred;
}

label, .title, .comment {
}

.hint {
    font-size: smaller;
    color: black;
}
