bin/*
docs/generated-doc/*
docs/test-reports/*
src/war/js/dojo/*
src/war/js/twetailer/nls/*
src/war/WEB-INF/appengine-generated/*
src/war/WEB-INF/classes/*
src/war/WEB-INF/*.*
cobertura.ser
*.class
nop
