/**
 * Override settings for the Golf console
 */
body, th, td {
    font-size: 11pt;
}
	
#brand {
}

#brand>h1 {
    margin: 0;
    padding: 10px 1em;
    min-height: 62px;
}

#headerZone {
	background-color: #5ddc1e;
    font-size: 9pt;
}

#centerZone.loginBG {
    background: bottom left url('/images/golf/loginBackground.png') no-repeat;
    background-size: cover;
    -moz-background-size: cover;
}

#centerZone.console {
}

#demandList .dojoxGridScrollbox {
    background-image:  url("/images/golf/consoleTeeBall.png"), url("/images/golf/consoleBackground.png");
    background-repeat: no-repeat, repeat-x;
	background-attachment: scroll;
    background-position: left bottom, left bottom;
    background-color: transparent, #FFFFFF;
}

#demandForm .dijitDialogPaneContent, #proposalForm .dijitDialogPaneContent {
    background-image: url("/images/golf/18-hole-flag.png");
	background-repeat: no-repeat;
    background-attachment: scroll;
	background-position: right bottom;
	background-color: #FFFFFF;
}
