/**
 * Override settings for the Golf widget
 */
#introFlash {
    background-color: #5ddc1e;
}

.progressBar {
    height: 30px;
    padding: 0 0 0 7px;
    background-color: green;
    border-radius: 5px;
    -moz-border-radius: 5px;
}
.progressBar .step {
    padding-top: 6px;
    color: green;
    height: 24px;
    width: 14%;
    vertical-align: middle;
    text-align:center;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
}

.progressBar .transition {
    background-image: url('/images/golf/step-transition.png');
    background-position: right center;
}

.progressBar .inactive {
    background-image: url('/images/golf/ball-grey.png');
}

.progressBar .active {
    background-image: url('/images/golf/ball-green.png');
}

.progressBar .inactive.goal {
    background-image: url('/images/golf/flag-small.png');
}

.progressBar .active.goal {
    background-image: url('/images/golf/flag-small.png'), url('/images/golf/ball-green-small.png');
}

.dataZone, .dataZone>div, .content, .form .evenRow {
    background-color: #5ddc1e;
}

label, .title, .comment {
    color: white;
}

label, .title {
    font-weight: bold;
}

.title {
    padding: 10px 0 5px 0;
}

.hint {
    font-size: smaller;
    color: darkgreen;
}

.form .oddRow {
    background-color: #00aa00;
}

.form .oddRow label {
    color: white;
}

.form .firstCell {
    width:1%;
}

.footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    left:0;
}

.footer:hover{
    background-color: #5ddc1e;
}
.poweredBy {
    font-size: smaller;
    text-align: center;
    margin: 5px 0;
}

.poweredBy a, .poweredBy a:visited {
    color: white;
}
